* {
  box-sizing: border-box;
  font-family: "baloo_paaji_2regular";
}

ul,
ol {
  list-style: none;
}

@font-face {
  font-family: "baloo_paaji_2regular";
  src: url("/fonts/baloopaaji2-regular-webfont.woff2") format("woff2"),
    url("/fonts/baloopaaji2-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  border: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.title {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 50px;
  color: #050241;
}

.logo {
  width: auto;
  height: 40px;
  margin-bottom: 4px;
  margin-right: -2px;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.theme-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  transition: all 3s cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 34px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.theme-checkbox:checked + .slider {
  background-color: #777777;
}

.theme-checkbox:checked + .slider:before {
  transform: translateX(30px);
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  transition: opacity 0.3s;
}

.moon {
  left: 8px;
  width: 20px;
  transform: translateY(-50%) rotate(0deg);
  transition: opacity 0.4s, transform 3s cubic-bezier(0.23, 1, 0.32, 1);
}

.sun {
  right: 8px;
  width: 20px;
  opacity: 0;
  transform: translateY(-50%) rotate(-360deg);
  transition: opacity 0.4s, transform 3s cubic-bezier(0.23, 1, 0.32, 1);
}

.theme-checkbox:checked + .slider .moon {
  opacity: 0;
  transform: translateY(-50%) rotate(360deg);
}

.theme-checkbox:checked + .slider .sun {
  opacity: 1;
  transform: translateY(-50%) rotate(0deg);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px 0 50px;
}

.container h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  color: #050241;
}

.section {
  max-width: 600px;
  margin: 0 auto;
}

.subtitle {
  color: #050241;
  margin-bottom: 10px;
  font-size: 26px;
  padding-left: 10px;
  margin-left: 20px;
}

.task-list {
  padding: 0 15px;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.left-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.drag-icon {
  filter: invert(57%) sepia(0%) saturate(43%) hue-rotate(246deg) brightness(93%)
    contrast(95%);
}

.checkbox {
  margin-right: 10px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  appearance: none;
  border: 2px solid #050241;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
}

.checkbox:checked {
  background-image: url(../assets/images/tick-green.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;
}

.checkbox:disabled {
  border-color: #06c792;
  margin-left: 30px;
}

.task-text {
  font-size: 20px;
  color: #050241;
  flex: 1;
}

.task-text.completed {
  color: #06c792;
}

.add-task-container {
  display: flex;
  margin-top: 20px;
  padding: 0 15px;
}

.input-container {
  position: relative;
  width: 84%;
}

.input {
  flex: 1;
  border-radius: 4px 0 0 4px;
  padding: 18px 0 18px 35px;
  width: 95.3%;
  outline: none;
  border: 1px solid #c6c6c6;
  border-right: none;
  font-size: 16px;
  margin-left: 20px;
}

.add-icon {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.button {
  padding: 0 20px;
  background-color: #050241;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  width: 20%;
  font-size: 16px;
}

.button:hover {
  background-color: #555555;
}

.action-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.readd-button {
  margin-right: 20px;
}

.action-icon {
  width: 20px;
  height: 20px;
}

.empty-list-message {
  color: #888;
  font-style: italic;
  text-align: center;
  padding: 10px 0;
}

body.dark-mode {
  background-color: #000;
  color: #eee;
}

body.dark-mode .container {
  border-color: #444;
}

body.dark-mode .container h1,
body.dark-mode .title,
body.dark-mode .subtitle {
  color: #eee;
}

body.dark-mode .task-text {
  color: #eee;
}

body.dark-mode .checkbox {
  border-color: #eee;
}

body.dark-mode .checkbox:disabled {
  border-color: #06c792;
}

body.dark-mode .input {
  background-color: #333;
  color: #eee;
  border-color: #555;
}

body.dark-mode .button {
  border: 1px solid #555;
  border-left: none;
}

body.dark-mode .empty-list-message {
  color: #aaa;
}

body.dark-mode .task-text.completed {
  color: #06c792;
}

body.dark-mode .rename-button,
body.dark-mode .done,
body.dark-mode .revert {
  filter: invert(100%) brightness(2);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media all and (max-width: 640px) {
  .page-header {
    padding: 25px 10px 25px 10px;
  }
  .logo {
    width: 30px;
    height: 30px;
  }
  .title {
    font-size: 36px;
  }
}

@media all and (max-width: 576px) {
  .input {
    border-right: 1px solid #c6c6c6;
  }
  .button {
    width: 30%;
  }
}

@media all and (max-width: 400px) {
  .input {
    width: 92%;
  }
  .button {
    width: 25%;
  }
}

.task-item-actions {
  display: flex;
  align-items: center;
}

.done-button,
.rename-button {
  margin-right: 20px;
}

.rename-input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

body.dark-mode .rename-input {
  background-color: #333;
  color: #eee;
  border-color: #555;
}

.drag-handle {
  cursor: grab;
  margin-right: 10px;
  display: flex;
  align-items: center;
  user-select: none;
}

.drag-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 10px;
}

.drag-icon:hover {
  filter: invert(17%) sepia(3%) saturate(29%) hue-rotate(343deg) brightness(97%)
    contrast(95%);
}

.task-item.dragging {
  opacity: 0.5;
}

.task-item.dragging .drag-icon {
  filter: invert(33%) sepia(66%) saturate(6705%) hue-rotate(196deg)
    brightness(98%) contrast(102%);
}
